*{
  font-family: poppins;
  padding: 0;
  margin: 0;
}

.reivews
{
  text-align: center;
  color: #434343;
  padding: 40px 0;
  background: #f1f1f1;
}

.inside
{
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
  max-width: 1200px;
}

.headings
{
  align-items: center;
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.headings h1
{
  padding: 10px 20px;
  color:#ffffff;
  background-color: #202020;
  font-size: 2.2rem;
  font-weight: 500;
}

.headings span
{
  font-size: 1.3rem;
  color:#252525;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.border
{
  width: 160px;
  height: 5px;
  margin: 26px auto;
  background: #4cb0b0;
}

.row
{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.column
{
  padding: 15px;
  max-width: 33.33%;
  box-sizing: border-box;
  flex: 33.33%;

}
.reivew
{
  background: #fff;
  padding: 30px;

}

.reivew img
{
  border-radius: 50%;
  width: 100px;
  height: 100px;
 transition: 0.2s;
}

.reivew img:hover
{
  width: 120px;
  height: 120px;
}

.name
{
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px 0;
}

.btn
{
  width: 300px;
  height: 52px;
  margin-top: 40px;
  padding: 10px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #030303;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}
