textarea{
    width:250px;
    height:50px;
    background-color: whitesmoke;
    resize: none;
    float : right;
    display : flex;
   border : black;
   color: white;
   position :relative;
   
  
   

}


button{
    width:100px;
    height:30px;
    background-color: darkgray;
    border : none;
    color : white;
    font-family: arial;
    font-weight: 400px;
    cursor: pointer;
    float : right;
    
}

body {
    background-color: rgb(227, 241, 245);
}




